<html>
<head><title></title></head>

<body>

    <button id="win" type="button">Win</button>
    <button id="lose" type="button">Lose</button>
    <button id="draw" type="button">Draw</button>
    <p name="winpercent" id="wp"></p>
    <p name="losepercent" id="lp"></p>
    <p name="drawpercent" id="dp"></p>
    <p name="currency" id="currency"></p>
    <script>
        wpp = parseInt(localStorage.getItem('wpp')) || 0;
        lpp = parseInt(localStorage.getItem('lpp')) || 0;
        dpp = parseInt(localStorage.getItem('dpp')) || 0;
        var lastClicked = null;
        var oo = 100;
        function updatePercentages() {
            var total = wpp + lpp + dpp;
            var winpercent = Number(((wpp / total) * 100).toFixed(1))
            var losepercent = Number(((lpp / total) * 100).toFixed(1))
            var drawpercent = Number(((dpp / total) * 100).toFixed(1))
            document.getElementById('wp').innerHTML = "Win Percentage: " + winpercent + "%";
            document.getElementById('lp').innerHTML = "Lose Percentage: " + losepercent + "%";
            document.getElementById('dp').innerHTML = "Draw Percentage: " + drawpercent + "%";
            localStorage.setItem('winpercent', winpercent);
            localStorage.setItem('losepercent', losepercent);
            localStorage.setItem('drawpercent', drawpercent);
        }
        var total = wpp + lpp + dpp;
        document.getElementById('win').onclick = function () {
            wpp++;
            updatePercentages();
            localStorage.setItem('lastClicked', 'win');
        };
        document.getElementById('lose').onclick = function () {
            lpp++;
            updatePercentages();
            localStorage.setItem('lastClicked', 'lose');
        };
        document.getElementById('draw').onclick = function () {
            dpp++;
            updatePercentages();
            localStorage.setItem('lastClicked', 'win');
        };




    </script>

    <p name="demo" id="demo"></p>
    <p name="history" id="history"></p>
    <form method="GET" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="text" name="textfield" placeholder="Enter team here...">

        <button type="submit">Search</button>
    </form>
    {% if home_team %}
    {{home_team}} {{ home_score }} : {{away_score}} {{away_team}}

    {% endif %}
    <script>
        var money = Number(localStorage.getItem('money')) || {{money}};
        var currencyElement = document.getElementById("currency");
        var lastClicked = localStorage.getItem('lastClicked');
        const list = JSON.parse(localStorage.getItem('list')) || [];
        localStorage.setItem('list', JSON.stringify(list));
        const winners = list.filter(item => item === 'Winner!').length;
        const totall = list.length;
        document.getElementById("history").innerHTML = ((winners / totall) * 100 || 0) + "%";

        //const winners = list.filter(item => item === 'Winner!').length;
        //const totall = list.length;

        //let percent = 0;
        //if (totall > 0) {
        //    percent = (winners / totall) * 100;
        //}

        //document.getElementById("history").innerHTML = percent.toFixed(1) + "%";

        if ({{ home_score }} > {{ away_score }} && lastClicked === 'win') {
            var winpercent = Number(localStorage.getItem('winpercent'));
            document.getElementById("demo").innerHTML = "Winner!";
            money = money + winpercent;
            localStorage.setItem('money', money);
            currencyElement.innerHTML = "Currency: " + money;
            whistory = "Winner!";
            list.push(whistory);
            localStorage.setItem('list', JSON.stringify(list));



        } else if ({{ home_score }} < {{ away_score }} && lastClicked === 'lose') {
            var losepercent = Number(localStorage.getItem('losepercent'));
            document.getElementById("demo").innerHTML = "Winner!";
            money = money + losepercent;
            localStorage.setItem('money', money);
            currencyElement.innerHTML = "Currency: " + money;
            whistory = "Winner!";
            list.push(whistory);
            localStorage.setItem('list', JSON.stringify(list));

        }
        else if ({{ home_score }} === {{ away_score }} && lastClicked === 'draw') {
            var drawpercent = Number(localStorage.getItem('drawpercent'));
            document.getElementById("demo").innerHTML = "Winner!";
            money = money + drawpercent;
            localStorage.setItem('money', money);
            currencyElement.innerHTML = "Currency: " + money;
            whistory = "Winner!";
            list.push(whistory);
            localStorage.setItem('list', JSON.stringify(list));

        } else {
            document.getElementById("demo").innerHTML = "Loser!";
            whistory = "Loser!";
            list.push(whistory);
            localStorage.setItem('list', JSON.stringify(list));
        }

    </script>
</body>
</html>